/* BOX SIZING ska gälla för alla boxar utom de som har UNSET */
*, *::before, *::after {box-sizing: inherit}

html {

font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
box-sizing: border-box;
}

body {
  margin: 0px;
  height: 5141px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

header {
  background-image: url(assets/shutterstock_1064827904.jpg);
  height: 508px;
  border: 1px solid #707070;
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.headericons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  position: relative;
  top: 20%;
  right: 10%;
}

.headericons-border {
  padding: 5px 5px 5px 6px;
  width: 39px;
  height: 39px;
  border: 3px solid #FFFFFF;
  opacity: 1;
  border-radius: 50%;
  margin: 0px 5px;
}

.portfolio-image {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  position: absolute;
  top: 375px;
  right: 10%; 
  z-index: 1;
}
/* TITLETEXTS*/
.name {
  font: 'Roboto, sans-serif';
  font-weight: normal;
  font-size: 13px;
  color:#FFFFFF;
  top: 176px;
  left: 41px;
  position: absolute;
  display: block;
  background-color:#170303;
}

.fullname {
  font: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 13px;
  color:#FFFFFF;
  top: 176px;
  left: 140px;
  position: absolute;
  display: block;
  background-color:#170303;
}
.title {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  top: 196px;
  left: 41px;
  position: absolute;
  text-align: left;
  display: block;
  /* background-color:#170303; */
}

.subtitle {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  top: 296px;
  left: 41px;
  position: absolute;
  text-align: left;
  display: block;
  /* background-color:#170303; */
}

/* .header-container-left {
  background-color:#170303;
} */


main {
  /* display: flex;
  justify-content: center; */
}
/* PITCH*/
.mypitch-background {
  background-color: #F4F4F4;
  height: 342px;
  margin: -30px 0px;
  z-index: -1;
}

.mypitch {
  font:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #000000;
  margin: 58px 37px;
  padding: 58px 37px;
  text-align: left;
  line-height: 29px;
}

/*SECOND HEADER*/

.header-other {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #FA382F;
  line-height: 25px;
  letter-spacing: 0;
  margin: 58px auto;
  text-align:center;
}

/* TECH */
.header-box-tech {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  width: 85px;
  height: 33px;
  background-color: #FA382F;
  padding: 3px 10px;
  /* align-self: center; */
  line-height: 27px;
  margin: 58px auto;
  text-align:center;
}
.programmingskills {
  font:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #000000;
  margin: 58px 37px;
  text-align: center;
  line-height: 29px;
}
/* FEATURED*/
.header-box-featured {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  width: 300px;
  height: 33px;
  background-color: #FA382F;
  padding: 3px 10px;
  line-height: 27px;
  letter-spacing: 0;
  margin: 58px auto;
  text-align:center;

}

.description-header {
  font: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 17px;
  color:#FA382F;
  margin: 0px 37px;
  text-align: left;
  line-height: 25px;
}

.description {
  font: 'Roboto, sans-serif';
  font-weight: normal;
  font-size: 17px;
  color: #000000;
  margin: 0px 37px;
  text-align: left;
  line-height: 25px;
}

/* THOUGHTS*/
.header-box-thoughts {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  width: 200px;
  height: 33px;
  background-color: #FA382F;
  padding: 3px 10px;
  line-height: 27px;
  letter-spacing: 0;
  margin: 58px auto;
  text-align:center;

}

.date {
  font: 'Roboto, sans-serif';
  font-weight: Regular;
  font-size: 17px;
  color:#FA382F;
  text-align: left;
  line-height: 32px;
}

/* SKILLS*/

.header-box-skills {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  width: 200px;
  height: 33px;
  background-color: #FA382F;
  padding: 3px 10px;
  line-height: 27px;
  letter-spacing: 0;
  margin: 58px auto;
  text-align:center;
}

.skillset-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skillset {
  font:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #000000;
  margin: 58px 37px;
  text-align: center;
  line-height: 29px;
  display: block; 
  width: 200px;
  padding: 0px 10px;
  /* margin: 41px 10px; */
}
/* MORE*/
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.iconsborder-more {
  padding: 5px 5px 5px 6px;
  margin: 0px 5px;
  width: 39px;
  height: 39px;
  border: 3px solid #FA382F;
  opacity: 1;
  border-radius: 50%;
}
.iconsborder-more a p {
  justify-content: space-around;
  align-items: center;
}

/* .iconsborder-more {
  justify-content: space-around;
  align-items: center;
} */

.more-description {
  font: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 17px;
  color:#FA382F;
  margin: 10px 10px;
  padding:10px 5px;
  text-align: center;
  line-height: 25px;
  display: block;

}

/* FOOTER */
.content-container:first-child {
  display: flex;
  align-items: center;
}


/* FOOTER */

footer {
  background-color: #072BCE;
  height: 300px;
  margin: 58px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-header {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color:#FFFFFF;
  padding: 3px 10px;
  line-height: 27px;
  letter-spacing: 0;
  margin: 58px 0px;
}

.footer-name, .contact, footer a {
  font: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  line-height: 29px;
  padding: 3px 10px;
  letter-spacing: 0;
  margin: 3px 0px;
}

.h2monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 39px;
  color: #FFFFFF;
}

.h3monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 37px;
  color: #FFFFFF;
}
.h7monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FDDFE7;
}



.h5roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: normal;
  font-size: 9px;
  columns: #2B2E34;
}

.h6roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 21px;
  columns: #000000;
}

.kkproject-description {
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 17px;
  columns: #000000;
}




