/* BOX SIZING ska gälla för alla boxar utom de som har UNSET */
*, *::before, *::after {box-sizing: inherit}

html {

font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  /* width: 375px; */
  height: 5141px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  box-sizing: border-box;

}

header {
  background-image: url(assets/shutterstock_1064827904.jpg);
  /* width: 375px; */
  height: 508px;
  /* background: #170303 0% 0% no-repeat padding-box; */
  border: 1px solid #707070;
  /* opacity: 0.26; */
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.headericons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 210px; */
}

.headericonsborder {
  margin-top: 105px;
  padding: 5px 5px 5px 6px;
  width: 39px;
  height: 39px;
  border: 3px solid #FFFFFF;
  opacity: 1;
  border-radius: 19px;
  
}

.portfolioimage {
  margin-top: 254px;
  margin-left: 276px;
  width: 162px;
  height: 162px;
  background: transparent url('Assets/Nina.png') 0% 0% no-repeat padding-box;
  border: 3px solid #FFFFFF;
  border-radius: 81px;
  opacity: 1;
  background-size: cover;
  display: block;

  
}


.title {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 196px;
  margin-left: 41px;
  position: absolute;
  text-align: left;
}

.h2monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 39px;
  color: #FFFFFF;
}

.h3monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 37px;
  color: #FFFFFF;
}

.subtitle {
  font:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 296px;
  margin-left: 41px;
  position: absolute;
  text-align: left;
}

.h5monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
}

.mypitch {
  font:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #000000;
  margin-left: 37px;
}

.h7monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FDDFE7;
}

.h8monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #FA382F;
}

.h9monserrat {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color:#FFFFFF;
}

.name {
  font: 'Roboto, sans-serif';
  font-weight: normal;
  font-size: 13px;
  color:#FFFFFF;
  margin-top: 176px;
  margin-left: 41px;
  position: absolute;
}

.fullname {
  font: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 13px;
  color:#FFFFFF;
  margin-top: 176px;
  margin-left: 140px;
  position: absolute;
}

.h3roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: normal;
  font-size: 17px;
  color:#FA382F;
}

.h4roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: normal;
  font-size: 17px;
  columns: #000000;
}

.h5roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: normal;
  font-size: 9px;
  columns: #2B2E34;
}

.h6roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 21px;
  columns: #000000;
}

.h7roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 17px;
  columns: #000000;
}

.h8roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 17px;
  columns: #ffffff;
}

.h9roboto {
  font-family: 'Roboto, sans-serif';
  font-weight: Regular;
  font-size: 17px;
  columns: #ffffff;
}